@{
	ViewData["Title"] = "Emplyee list";
}
@section Scripts{
	<script src="~/lib/mustache.min..js"></script>
	<script src="~/lib/jquery.twbspagination.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/js/controller/homecontroller.js"></script>
}
<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="Typing Name" aria-label="Name" id="txtNameSearch">
			</div>
			<div class="col-md-3 align-self-center">
				<select class="form-select" aria-label="Acitve" id="ddlStatusSearch">
					<option selected value="">All</option>
					<option value="true">Active</option>
					<option value="false">Lock</option>
					
				</select>
			</div>
			<div class="col-md-4">
				<button id="btnSearch" class="btn btn-primary" >Search</button>
				<button id="btnReset" class="btn btn-success">Reset</button>
			</div>
		</div>
	</div>
	<div class="col-md-2 text-end">
		<button id="btnAddNew" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modelAddUpdate">Add New</button>
	</div>
</div>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Salary</td>
				<td>Status</td>
				<td>#</td>
			</tr>
		</thead>
		<tbody id="tblData">
		</tbody>
	</table>
	<div id="pagination" class="pagination"></div>
	
	<script id="data-template" type="x-tmpl-mustache">
		<tr>
		<td>{{ID}}</td>
		<td>{{Name}}</td>
		<td><input type="number" class="txtSalary" data-id="{{ID}}" value="{{Salary}}" /></td>
		<td>{{{Status}}}</td>
		<td><button class="btn btn-success btnEdit" data-id="{{ID}}"><i class="fa fa-pencil" aria-hidden="true"></i></button> <button class="btn btn-danger btnDelete" data-id="{{ID}}"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
		</tr>
	</script>
</div>
@Html.Partial("_AddUpdateModel.cshtml")